config SKID_MOTOR_PWM_FREQ
    int "PWM frequency for the motors"

config SKID_POWER_PIN
    int "GPIO that must be HIGH at all times"

config SKID_MOTOR_LEFT_A_PIN
    int "GPIO for the left motor A"

config SKID_MOTOR_LEFT_B_PIN
    int "GPIO for the left motor B"

config SKID_MOTOR_RIGHT_A_PIN
    int "GPIO for the right motor A"

config SKID_MOTOR_RIGHT_B_PIN
    int "GPIO for the right motor B"

config SKID_MOTOR_ARM_A_PIN
    int "GPIO for the arm motor A"

config SKID_MOTOR_ARM_B_PIN
    int "GPIO for the arm motor B"

config SKID_SERVO_BUCKET_PIN
    int "GPIO for the bucket servo"

config SKID_SERVO_AUX_PIN
    int "GPIO for the aux servo"

config SKID_LEDS_PIN
    int "GPIO for the WS2812 LEDs"

config SKID_SERVO_STEP_MS
    int "Servo step in milliseconds"
